<ion-view>
    <ion-nav-title>Tell us about your family!</ion-nav-title>
    <ion-content scroll="true" class="has-header padding">
        <form ng-submit="addChildren()">

          <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">What is your family name?</span>
                <input type="text" placeholder="Your last name" ng-model="familyName">
            </label>
          </div>

          <span class="input-label" style="width:100% !important">Who are your children?</span>
          <p>Next, we'll setup accounts and starting balance for each child.
          You can always edit and add more later!</p>

          <div class="list">
            <label class="item item-input" ng-repeat="child in children">
              <!-- <div class="input-label item-stacked-label">
                  Name
              </div> -->

              <!--  TODO randomize the name of the savings accounts -->
              <input
                type="text"
                placeholder="Your {{ $index + 1 | ordinal }} Child"
                ng-model="child.name">
            </label>
          </div>

          <p style="margin-bottom: 25px;"><a href="#" ng-click="addChild()">Add another child</a></p>

            <button class="button button-balanced button-block ">Next</button>
        </form>

        <p><a class='text-center' href="mailto:support@potential.family?subject=I%27d%20like%20to%20join%20an%20existing%20family">Looking to join an existing family?</a></p>

        <!--  TODO learn more about how virtual banking works! -->
    </ion-content>
</ion-view>
