<ion-view class="welcome-view" hide-nav-bar="true">
  <ion-content scroll="false">

    <ion-slides  options="options" slider="data.slider" style="height: 86%">
      <ion-slide-page>

        <div class="slide-holder col col-top">
          <h1 class="slide-header">
            <img src="img/logo_large.png" style="max-width: 85%" />
          </h1>
          <p class="slide-subtitle">
            Instill, empower and reward responsibility in your family.
          </p>
        </div>

      </ion-slide-page>
      <ion-slide-page>
        <div class="slide-holder col col-top">
          <div class='slide-header'>
            <i class='fa fa-users'></i>
            <h1>No More “No”</h1>
          </div>

          <div class='slide-subtitle'>
            Instill responsibility by giving your children a way to know their earnings and make decisions on their own.
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slide-holder col col-top">
          <div class="slide-header">
            <i class='fa fa-mobile'></i>
            <h1>End The Chore War</h1>
          </div>

          <div class='slide-subtitle'>
            Empower your children to contribute and earn more by posting Jobs for them to do.
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slide-holder col col-top">
          <div class="slide-header">
            <i class='fa fa-money'></i>
            <h1>Reward Your Way!</h1>
          </div>

          <div class='slide-subtitle'>
            Reward your children using different currencies and track them all in separate Accounts.
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>

    <div class="bottom-content row">
      <div class="col">
        <a class="google-sign-in button button-block button-positive" ui-sref="signup">
          <span class="btn-copy">Sign up</span>
        </a>
      </div>

      <div class="col">
        <a class="google-sign-in button button-block" ui-sref="signin">
          <span class="btn-copy">Login</span>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
