<ion-view title="Settings">
  <ion-nav-title>{{ family.name }} Family</ion-nav-title>
  <ion-content scroll="false" class="has-header">
    <div class="row">
      <div class="col dashboard-icon-section" ui-sref="menu.childenIndex">
        <i class='fa fa-users'></i>
        Children
      </div>

      <div class="col dashboard-icon-section" ui-sref="menu.accountsList">
        <i class='fa fa-money'></i>
        Accounts
      </div>
    </div>

    <div class="row">
      <div class="col dashboard-icon-section" ui-sref="menu.choresList">
        <i class='fa fa-wrench'></i>
        Jobs
      </div>

      <div class="col dashboard-icon-section" ui-sref="menu.settings">
        <i class='fa fa-gear'></i>
        Settings
      </div>
    </div>
</ion-content>
</ion-view>
